<h1>
  Edit follower #<%= @follower.id %>
</h1>

<hr>

<form action="/update_follower/<%= @follower.id %>" method="post">

  <div class="form-group">
    <label for="sender_id">
      Sender
    </label>

    <input type="text" id="sender_id" name="sender_id" class="form-control" value="<%= @follower.sender_id %>">
  </div>

  <div class="form-group">
    <label for="recipient_id">
      Recipient
    </label>

    <input type="text" id="recipient_id" name="recipient_id" class="form-control" value="<%= @follower.recipient_id %>">
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @follower.status %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update follower
  </button>
</form>

<hr>

<a href="/followers">
  Go back
</a>
